# Ignores for project
# Language is Java
# Build tool is Apache Maven3
# IDE's used too
# so, we have to ignore all the specifics of these above

# Eclipse related
.classpath
.project
.settings/

# Intellij
*.ipr

# Maven related (and some plugins)
target/
*.ser
*.ec

# Other
.svn/
bin/
